apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "operator.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
  {{- include "operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
    {{- include "operator.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - name: webhook-certs
              mountPath: /tmp/k8s-webhook-server/serving-certs
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsGroup: 65534
            runAsUser: 65534
          env:
            - name: LEADER_ELECTION_NAMESPACE
              value: {{ .Release.Namespace }}
            {{- if .Values.namespacesToWatch }}
            - name: NAMESPACES_TO_WATCH
              value: {{ join "," .Values.namespacesToWatch }}
        {{ end }}
        {{- if .Values.metricsAuthProxy }}
        - name: kube-rbac-proxy
          image: quay.io/brancz/kube-rbac-proxy:v0.10.0
          args:
            - --secure-listen-address=0.0.0.0:8443
            - --upstream=http://127.0.0.1:8080/
            - --logtostderr=true
            - --v=10
          ports:
            - containerPort: 8443
              name: https
      {{ end }}
      volumes:
        - name: webhook-certs
          secret:
            secretName: {{ template "operator.webhook-secret" . }}
      terminationGracePeriodSeconds: 20
---